body {
    font: 12px Helvetica, Arial, sans-serif;
    padding: 20px
}
h1 {
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
div {
    margin: 10px 0
}
#file-drop-area {
    border: 2px dashed gray;
    border-radius: 10px;
    color: gray;
    font-size: 14px;
    padding: 20px;
    text-align: center;
}
#decode-result {
    display: none;
}
#error {
    display: none;
    border: 2px solid red;
    font-size: 14px;
    padding: 12px;
}
#error > p {
    font-weight: bold;
    color: red;
    margin-top: 0;
}
#error li.win {
    color: green;
}
#error li.fail {
    color: red;
}
